<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
<title>Global Chat</title>
<!-- BOOTSTRAP CORE STYLE CSS -->

<link href="../css/bootstrap.css" rel="stylesheet" />
    <script src="../documentation/lib/angular/angular.js"></script>

    <script src="../documentation/lib/angular/angular-cookies.js"></script>
    <script src="../documentation/lib/angular/angular-route.js"></script>
    <script src="../documentation/lib/angular/angular-animate.js"></script>
    <script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/v2.0.4/src/scrollglue.js"></script>
    <script src="http://gregpike.net/demos/angular-local-storage/src/angular-local-storage.js"></script>
    <script src="../controllers/loginController.js"></script>
    <script src="../controllers/host.js"></script>
    <script src="../controllers/app.js"></script>
    <script src="../controllers/chatController.js"></script>
    <script src="../controllers/gameChatController.js"></script>
    <script src="../controllers/friendController.js"></script>
</head>
<body style="font-family:Verdana" ng-app="chatApp" ng-controller="chatController">
<div></div>
<div class="container">
    <div class="row " style="padding-top:40px;">
        <h3 class="text-center" >Connect with Friends Chat </h3>
        <br /><br />
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    RECENT CHAT HISTORY
                </div>

                <div class="panel-body"  >
                    <ul class="media-list" style="height: 300px; overflow: auto" scroll-glue>

                        <li class="media" ng-repeat="msg in global_msgs track by $index">
                        <div class="media-body">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-circle " src="../images/user.png" />
                                </a>
                                <div class="media-body" >
                                    {{ msg.text }}
                                    <br />
                                    <small class="text-muted"> {{ msg.sender }}| {{msg.pub_date}}</small>
                                    <hr />
                                </div>
                            </div>
                        </div>
                        </li>
                    </ul>
                </div>

                <div class="panel-footer">
                    <form ng-submit="send()" novalidate>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Message" ng-model="msg" />
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="submit" >SEND</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    ONLINE USERS
                </div>
                <div class="panel-body" >
                    <ul class="media-list" style="height: 300px; overflow: auto">



                        <li class="media" ng-repeat= "x in names">

                        <div class="media-body">

                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-circle" style="max-height:40px;" src="../images/user.png" />
                                </a>
                                <div class="media-body" >
                                    <h5>{{ x.username }} | User </h5>
                                    <button ng-click="addFriend(x.id)" type="button" class="btn btn-default btn-xs">add friend</button>


                                </div>
                            </div>

                        </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
