<!DOCTYPE html>
<html>

<head>
    <script src="../Libraries/lib/angular/angular.js"></script>
    <script src="../Libraries/lib/angular/angular-cookies.js"></script>
    <script src="../Libraries/lib/angular/angular-route.js"></script>
    <script src="../Libraries/lib/angular/angular-animate.js"></script>
    <script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/v2.0.4/src/scrollglue.js"></script>
    <script src="http://gregpike.net/demos/angular-local-storage/src/angular-local-storage.js"></script>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="../controllers/host.js"></script>
    <script src="../controllers/friendController.js"></script>
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
<h3 style="padding-left: 20px;"> Friends List</h3>
<div  ng-app="friendApp" ng-controller="friendController">

            <div   ng-repeat= "x in names">
                    <div>
                        <img  style="padding-left:60px;max-height:40px;" src="../images/RedToken.png" />


                        <h5 style= "padding-left:60px;">{{ x.username }}  </h5>
                    </div>
                    <div style="margin-left:40px;margin-bottom:20px;">
                        <button style="width:80px;height:25px" data-ng-click="deleteFriend(x.id)" > Delete Friend</button>
                    </div>
            </div>
</div>



</body>
