<html>
    <head>
        <link href="../css/main.css" rel="stylesheet" />

        <script src="../Libraries/lib/angular/angular.js"></script>

        <script src="../Libraries/lib/angular/angular-cookies.js"></script>
        <script src="../Libraries/lib/angular/angular-route.js"></script>
        <script src="../Libraries/lib/angular/angular-animate.js"></script>
        <script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/v2.0.4/src/scrollglue.js"></script>
        <script src="../controllers/loginController.js"></script>
        <script src="../controllers/chatController.js"></script>
        <script src="../controllers/gameController.js"></script>
        <script src="../controllers/gameChatController.js"></script>
        <script src="../controllers/friendController.js"></script>
        <script src="../controllers/app.js"></script>
        <script src="../controllers/host.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
        <title> Connect With Friends</title>
    </head>
    <body ng-app="mainApp">
        <table>
            <td class = "tablerow" ng-controller="mainController">


                 Welcome to Connect With Friends, {{user.username}}
                 <br>Tips: 1.to play a game: press "Play a game button". 2. when a game finishes (e.g. win, lose or draw), you can press "Play a game" button again to start a new game. 3. pressing any of the three buttons during a game will forfeit the game! 4. there is no way back after using "back" on your browser during a game!! 

            </td>
            <td >
                 <div  ng-controller="loginController">

                        <button class=" buttons" ng-click='logout()' >Logout</button>
                </div>

                <div ng-controller="gameController">
                        <button class=" buttons" ng-click='game()'> Play a Game </button>
                </div>

                <div ng-controller = "chatController" >
                        <button class=" buttons"  ng-click='chat()'> Want to Chat </button>
                </div>
            </td>
        </table>


            <iframe class="iframe1" id= "iframe"  width="1000" height="500"></iframe>

            <iframe class="iframe2" id="iframe2"  width="200" height="500" ></iframe>

    </body>
</html>
