<html>
    <style>
        body{
            margin:0;
            padding:10;
            width:100%;
            background-color: #F5F5F5;
        }
        .nav > li {
            float:right;
            display:inline-block;
                *display:inline; /* Internet Explorer 7 compatibility */
                *zoom:1;
                vertical-align: top;
        }
        div {
            padding-left: 80%;
            background-color: #F5F5F5;
        }


    </style>
    <script>
        function setUrl(url){

            document.getElementById("iframe2").src = url
        }
        function setUrl2(url){
            alert("here");

        }
    </script>

    <script src="../documentation/lib/angular/angular.js"></script>

    <script src="../documentation/lib/angular/angular-cookies.js"></script>
    <script src="../documentation/lib/angular/angular-route.js"></script>
    <script src="../documentation/lib/angular/angular-animate.js"></script>
    <script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/v2.0.4/src/scrollglue.js"></script>
    <script src="../controllers/loginController.js"></script>
    <script src="../controllers/chatController.js"></script>
    <script src="../controllers/app.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <body ng-app="mainApp">
        <table>
            <td style="width:1000px" ng-controller="loginController">
                 Welcome to Connect With Friends, {{userR.uname}}

            </td>
            <td >
                 <div  ng-controller="loginController">

                        <button data-ng-click='logout()' style="width:100px;height:25px;">Logout</button>
                </div>

                <div>
                        <button onclick='setUrl("game.html")' style="width:100px;height:25px;"> Play a Game </button>
                </div>

                <div ng-controller = "chatController" >
                        <button ng-click='chat()' style="width:100px;height:25px;"> Want to Chat </button>
                </div>
            </td>
        </table>


            <iframe id= "iframe"  width="1000" height="500" style="float:left; width=90%"></iframe>

            <iframe id="iframe2"  width="200" height="500" style="float:left;"></iframe>

    </body>
</html>