<html>
    <head>
        <link href="../css/main.css" rel="stylesheet" />
        <script>
            function setUrl(url){

                document.getElementById("iframe").src = url
            }
            function setUrl2(url){
                alert("here");

            }

        </script>

        <script src="../documentation/lib/angular/angular.js"></script>

        <script src="../documentation/lib/angular/angular-cookies.js"></script>
        <script src="../documentation/lib/angular/angular-route.js"></script>
        <script src="../documentation/lib/angular/angular-animate.js"></script>
        <script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/v2.0.4/src/scrollglue.js"></script>
        <script src="../controllers/loginController.js"></script>
        <script src="../controllers/chatController.js"></script>
        <script src="../controllers/gameController.js"></script>
        <script src="../controllers/gameChatController.js"></script>
        <script src="../controllers/friendController.js"></script>
        <script src="../controllers/app.js"></script>
        <script src="../controllers/host.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
        <title> Connect With Friends</title>
    </head>
    <body ng-app="mainApp">
        <table>
            <td class = "tablerow" ng-controller="mainController">


                 Welcome to Connect With Friends, {{user.username}}

            </td>
            <td >
                 <div  ng-controller="loginController">

                        <button class=" buttons" ng-click='logout()' >Logout</button>
                </div>

                <div ng-controller="gameController">
                        <button class=" buttons" ng-click='game()'> Play a Game </button>
                </div>

                <div ng-controller = "chatController" >
                        <button class=" buttons"  ng-click='chat()'> Want to Chat </button>
                </div>
            </td>
        </table>


            <iframe class="iframe1" id= "iframe"  width="1000" height="500"></iframe>

            <iframe class="iframe2" id="iframe2"  width="200" height="500" ></iframe>

    </body>
</html>
