
body{
    margin:0;
    padding:3%;
    width:100%;
    background-color: #e8e8e8;
}
.nav > li {
    float:right;
    display:inline-block;
        *display:inline; /* Internet Explorer 7 compatibility */
        *zoom:1;
        vertical-align: top;
}

.tablerow{
    width: 60%

}
.tablerow2{
   width: 10%

}

.buttons{
    width:50%;height:5%;


}

.iframe1{
     float:left;
     width=80%;
}
.iframe2{
     float:left;

}